[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
pbr = "*"
pyinstaller = "*"
pyupdater = {editable = true,git = "https://github.com/segfault16/PyUpdater.git",ref = "3.1.2-pre"}
pytest = "*"
grpcio-tools = "*"

[packages]
numpy = "*"
scipy = "*"
jsonpickle = "*"
flask = "*"
mido = "*"
python-rtmidi = "*"
apscheduler = "*"
pillow = "*"
rpi-ws281x = {version = "*",sys_platform = "== 'linux'"}
pyaudio = {editable = true,git = "https://github.com/segfault16/pyAudio.git"}
pybleno = "*"
grpcio = "*"
protobuf = "*"

[requires]
python_version = "3.7"
