

  #content {
    display: flex;
    margin: 0 auto;
    flex: 1;
    width: 100%;
    flex-direction: column;
  }
  #content-dark {
    background-color: #222;
    display: flex;
    margin: 0 auto;
    flex: 1;
    width: 100%;
    flex-direction: column;
  }