body {
    div#root{
      background-color: #222;
      color: lightgray;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    div {
      border: 1px solid red;
      // margin: 2px;
      box-sizing: border-box
    }
  }